body
{
    margin: 0;
    height: 100vh;
}

canvas
{
    display: block;
}

.gui
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#speedometer-container
{
    position: absolute;
    
    right: 20px;
    bottom: 20px;

    width: 200px;
    height: 200px;
}

#speedometer-container > img
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#speedometer-container > p 
{
    position: absolute;
    
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    color: white;
    
    font-family: 'Roboto';
    font-size: 48px;
}